<!DOCTYPE html>
<html lang="es">
<%- include('../partials/head.ejs') %>
<body>
    <%- include('../partials/nav.ejs') %>
    <section class="text-gray-600 body-font py-6">
        <div class="container px-8 py-6 mx-auto bg-white xl:w-4/5">
          <div class="flex flex-col text-center w-full">
            <h2 class="text-xs text-indigo-500 tracking-widest font-medium title-font mb-1">ROOF PARTY POLAROID</h2>
            <h1 class="sm:text-3xl text-2xl font-medium title-font mb-4 text-gray-900">Master Cleanse Reliac Heirloom</h1>
            <p class="lg:w-2/3 mx-auto leading-relaxed text-base text-justify">Whatever cardigan tote bag tumblr hexagon brooklyn asymmetrical gentrify, subway tile poke farm-to-table. Franzen you probably haven't heard of them man bun deep jianbing selfies heirloom prism food truck ugh squid celiac humblebrag.</p>
          </div>
        </div>
    </section>
    <section class="text-gray-600 body-font overflow-hidden py-3">
        <div class="container px-8 py-6 mx-auto bg-white xl:w-4/5">
            <div class="flex flex-wrap w-full mb-10 flex-col items-center text-center">
                <h1 class="sm:text-3xl text-2xl font-medium title-font mb-2 text-gray-900">Experiencia Laboral</h1>
            </div>
          <div class="-my-8 divide-y-2 divide-blue-300">
            <% experiences.forEach(experience => { %>
            <div class="py-8 flex flex-wrap md:flex-nowrap">
              <div class="md:w-64 md:mb-0 mb-6 flex-shrink-0 flex flex-col">
                <span class="font-semibold title-font text-gray-700"><%= experience.company %></span>
                <span class="mt-1 text-gray-500 text-sm"><%= experience.dateStart %></span>
              </div>
              <div class="md:flex-grow">
                <h2 class="text-2xl font-medium text-gray-900 title-font mb-2"><%= experience.position %></h2>
                <p class="leading-relaxed"><%= experience.tasks %></p>
              </div>
            </div>
            <% }) %>
            <!-- Si estoy logueado, muestro esto -->
            <div class="py-8 flex flex-wrap md:flex-nowrap">
              <div class="w-full">
                <div class="border border-gray-200 p-6 rounded-lg">
                  <div class="flex items-center justify-center w-14 h-14 mx-auto mb-4 rounded-full bg-indigo-50">
                    <img src="/images/add.svg" alt="" class="w-10 h-10 rounded-full hover:animate-ping" id="modalAddExperience">
                  </div>
                  <h6 class="mb-2 font-semibold leading-5 text-center">Más</h6>
                </div>
              </div>
            </div>
            <!-- 
            <div class="py-8 flex flex-wrap md:flex-nowrap">
              <div class="md:w-64 md:mb-0 mb-6 flex-shrink-0 flex flex-col">
                <span class="font-semibold title-font text-gray-700">CATEGORY</span>
                <span class="mt-1 text-gray-500 text-sm">12 Jun 2019</span>
              </div>
              <div class="md:flex-grow">
                <h2 class="text-2xl font-medium text-gray-900 title-font mb-2">Meditation bushwick direct trade taxidermy shaman</h2>
                <p class="leading-relaxed">Glossier echo park pug, church-key sartorial biodiesel vexillologist pop-up snackwave ramps cornhole. Marfa 3 wolf moon party messenger bag selfies, poke vaporware kombucha lumbersexual pork belly polaroid hoodie portland craft beer.</p>             
              </div>
            </div>
            <div class="py-8 flex flex-wrap md:flex-nowrap">
              <div class="md:w-64 md:mb-0 mb-6 flex-shrink-0 flex flex-col">
                <span class="font-semibold title-font text-gray-700">CATEGORY</span>
                <span class="text-sm text-gray-500">12 Jun 2019</span>
              </div>
              <div class="md:flex-grow">
                <h2 class="text-2xl font-medium text-gray-900 title-font mb-2">Woke master cleanse drinking vinegar salvia</h2>
                <p class="leading-relaxed">Glossier echo park pug, church-key sartorial biodiesel vexillologist pop-up snackwave ramps cornhole. Marfa 3 wolf moon party messenger bag selfies, poke vaporware kombucha lumbersexual pork belly polaroid hoodie portland craft beer.</p>
              </div>
            </div>
            -->
          </div>
          <!-- Modal add Experience -->
          <div class="w-full lg:w-1/3 hidden top-2/4 absolute lg:left-1/3  bg-gray-100 rounded-xl" id="addExperience">
            <div class="py-2 border-b-2 border-blue-500">
              <h1 class="text-center font-semibold text-xl">Agregar Experiencia</h1>
            </div>
              <form action="/aboutme/addExperience" method="post" class="mx-6 mt-4">
                <div>
                  <label class="block text-gray-700">Empresa</label>
                  <input type="text" name="company" id="company" placeholder="Ingresar Empresa" class="w-full px-4 py-3 rounded-lg bg-gray-200 mt-2 border focus:border-blue-500 focus:bg-white focus:outline-none" autofocus autocomplete>
                </div>
        
                <div class="mt-4">
                  <label class="block text-gray-700">Posición</label>
                  <input type="text" name="position" id="position" placeholder="Ingresar puesto ocupado" class="w-full px-4 py-3 rounded-lg bg-gray-200 mt-2 border focus:border-blue-500
                        focus:bg-white focus:outline-none">
                </div>
                <div class="mt-4">
                  <label class="block text-gray-700">Tareas realizadas</label>
                  <textarea name="tasks" id="tasks" placeholder="Ingresar tareas realizadas separadas por coma" class="w-full px-4 py-3 rounded-lg bg-gray-200 mt-2 border focus:border-blue-500 focus:bg-white focus:outline-none" autofocus rows="3"></textarea>
                </div>
                <div class="mt-4">
                  <label class="block text-gray-700">Fecha inicio</label>
                  <input type="date" name="dateStart" id="dateStart" class="w-full px-4 py-3 rounded-lg bg-gray-200 mt-2 border focus:border-blue-500 focus:bg-white focus:outline-none" autofocus autocomplete>
                </div>
                <div class="mt-4">
                  <label class="block text-gray-700">Fecha fin</label>
                  <input type="date" name="dateEnd" id="dateEnd" class="w-full px-4 py-3 rounded-lg bg-gray-200 mt-2 border focus:border-blue-500 focus:bg-white focus:outline-none" autofocus autocomplete>
                </div>
                <div class="flex justify-around mb-4 my-6">
                  <a id="addCloseEducation" class="block bg-red-500 hover:bg-red-400 focus:bg-red-400 text-white font-semibold rounded-lg
                      px-6 py-3 mt-3">Cancelar</a>
                  <button type="submit" class="block bg-green-500 hover:bg-green-400 focus:bg-green-400 text-white font-semibold rounded-lg
                      px-6 py-3 mt-3">Agregar</button>
                </div>
        
              </form>
          </div>
        </div>
    </section>
    <section class="text-gray-600 body-font py-6">
        <div class="container px-5 py-6 mx-auto bg-white xl:w-4/5">
          <div class="flex flex-wrap w-full mb-10 flex-col items-center text-center">
            <h1 class="sm:text-3xl text-2xl font-medium title-font mb-2 text-gray-900">Educación</h1>
          </div>
          <div class="flex flex-wrap -m-4">
            <% educations.forEach(education => { %>
            <div class="w-full md:w-1/3  p-4">
              <div class="border border-gray-200 p-6 rounded-lg bg-gray-100">
                <div class="w-10 h-10 inline-flex items-center justify-center rounded-full bg-indigo-100 text-indigo-500 mb-4">
                  <img src="/images/git.svg" alt="" class="w-6 h-6">
                </div>
                <h2 class="text-lg text-gray-900 font-medium title-font mb-2"><%= education.title %></h2>
                <p class="leading-relaxed text-base"><%= education.dateStart.slice(0,4) %> - <%= education.dateEnd.slice(0,4) %> <em>(<%= education.statusEducation %>)</em></p>
                <p class="leading-relaxed text-base"><%= education.institute %></p>
                <div class="flex items-center justify-evenly mt-2">
                  <a href="/aboutme/deleteEducation/<%= education.id %>"><img src="./images/delete.svg" alt="" class="w-6 h-6"></a>
                  <a href="/aboutme/editEducation/<%= education.id %>"><img src="./images/edit.svg" alt="" class="w-6 h-6"></a>
                </div>
              </div>
            </div>
            <% }) %>
            <!-- Si estoy logueado, muestro esto -->
            <div class="xl:w-1/3 md:w-1/2 p-4 mx-auto">
              <div class="border border-gray-200 p-6 rounded-lg">
                <div class="flex items-center justify-center w-14 h-14 mx-auto mb-4 rounded-full bg-indigo-50">
                  <img src="/images/add.svg" alt="" class="w-10 h-10 rounded-full hover:animate-ping" id="modalAddTech">
                </div>
                <h6 class="mb-2 font-semibold leading-5 text-center">Más</h6>
              </div>
            </div>
          </div>
          <!-- Modal add Educations -->
        <div class="w-full lg:w-1/3 hidden top-full absolute lg:left-1/3  bg-gray-100 rounded-xl" id="addTech">
          <div class="py-2 border-b-2 border-blue-500">
            <h1 class="text-center font-semibold text-xl">Agregar Educación</h1>
          </div>
            <form action="/addEducation" method="post" class="mx-6 mt-4">
              <div>
                <label class="block text-gray-700">Instituto</label>
                <input type="text" name="institute" id="institute" placeholder="Ingresar instituto" class="w-full px-4 py-3 rounded-lg bg-gray-200 mt-2 border focus:border-blue-500 focus:bg-white focus:outline-none" autofocus autocomplete>
              </div>
      
              <div class="mt-4">
                <label class="block text-gray-700">Titulo</label>
                <input type="text" name="title" id="title" placeholder="Ingresar nombre titulo" class="w-full px-4 py-3 rounded-lg bg-gray-200 mt-2 border focus:border-blue-500
                      focus:bg-white focus:outline-none">
              </div>
              <div class="mt-4">
                <label class="block text-gray-700">URL o Ruta de la imagen</label>
                <input type="text" name="icon" id="icon" placeholder="Ingresar ruta" class="w-full px-4 py-3 rounded-lg bg-gray-200 mt-2 border focus:border-blue-500 focus:bg-white focus:outline-none" autofocus autocomplete>
              </div>
              <div class="mt-4">
                <label class="block text-gray-700">Fecha inicio</label>
                <input type="date" name="dateStart" id="dateStart" class="w-full px-4 py-3 rounded-lg bg-gray-200 mt-2 border focus:border-blue-500 focus:bg-white focus:outline-none" autofocus autocomplete>
              </div>
              <div class="mt-4">
                <label class="block text-gray-700">Fecha fin</label>
                <input type="date" name="dateEnd" id="dateEnd" class="w-full px-4 py-3 rounded-lg bg-gray-200 mt-2 border focus:border-blue-500 focus:bg-white focus:outline-none" autofocus autocomplete>
              </div>
              <!-- Agregar un campo para definir si el estudio finalizo o sigue en curso -->
              <div class="mt-4">
                <label class="block text-gray-700">Estado del estudio</label>
                <select name="statusEducation" id="statusEducation" class="w-full px-4 py-3 rounded-lg bg-gray-200 mt-2 border focus:border-blue-500 focus:bg-white focus:outline-none" autofocus>
                  <option value="En curso">En curso</option>
                  <option value="Finalizado">Finalizado</option>
                </select>
              </div>
              <div class="flex justify-around mb-4 my-6">
                <a id="addCloseTech" class="block bg-red-500 hover:bg-red-400 focus:bg-red-400 text-white font-semibold rounded-lg
                    px-6 py-3 mt-3">Cancelar</a>
                <button type="submit" class="block bg-green-500 hover:bg-green-400 focus:bg-green-400 text-white font-semibold rounded-lg
                    px-6 py-3 mt-3">Agregar</button>
              </div>
      
            </form>
        </div>
        </div>
      </section>
      <%- include('../partials/footer.ejs') %>
      <script>
        const modalTech = document.querySelector('#modalAddTech');
        const addTech = document.querySelector('#addTech');
        const addClose = document.querySelector('#addCloseTech');
        let modalAddExp = document.querySelector('#modalAddExperience');
        let addExperience = document.querySelector('#addExperience');
        let addCloseEdu = document.querySelector('#addCloseEducation');
        modalTech.addEventListener('click', () => {
          addTech.classList.remove('hidden');
        });
        modalAddExp.addEventListener('click', () => {
          addExperience.classList.remove('hidden');
        });
        addClose.addEventListener('click', () => {
          addTech.classList.add('hidden');
        });
        addCloseEdu.addEventListener('click', () => {  
          addExperience.classList.add('hidden');
        });
      </script>
</body>
</html>